<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" type="text/css" href='/stylesheets/index.css'>
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/all.css">
    <script src="/javascripts/openingPage.js"></script>

</head>
<body>


    <div class="jumbotron jumbotron-fluid">
        <div class="container container-fluid">
            <div class="card mx-auto" style="width: 18rem;">
                <div class="card-content">
                    <img class="card-img-top" src="/images/neuroLogo.jpg" alt="Card image cap">
                    <div class="card-body text-center">
                        <h5 class="card-title">Neuro Human Reading Test</h5>
                        <p class="card-text">Test Description</p>
                        <button class="btn neuro-btn" data-toggle="modal"
                                data-target="#sign-modal" data-type="sign-up">
                            Sign Up
                        </button>
                        <button class="btn neuro-btn" data-toggle="modal" data-target="#sign-modal"
                                data-type="sign-in">
                            Sign In
                        </button>


                    </div>
                </div>
            </div>

        </div>


    </div>


    <!-- Modal -->
    <div class="modal fade" id="sign-modal" tabindex="-1" role="dialog" aria-labelledby="sign-modal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="content-substitution"></div>
            </div>
        </div>
    </div>

    <div id="modal-loading-container">
    <%- include partials/index/signInModal.ejs%>
    <%- include partials/index/signUpModal.ejs%>
    </div>




</body>
</html>
