<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>My experiment</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="/jquery/jquery.js"></script>
    <script src="/jspsych/jspsych.js"></script>
    <script src="/jspsych/plugins/jspsych-html-keyboard-response.js"></script>
    <script src="/jspsych/plugins/jspsych-RDK.js"></script>
    <script src="/jspsych/plugins/jspsych-image-keyboard-response.js"></script>
    <script src="/jspsych/plugins/jspsych-categorize-html.js"></script>
    <link href="/jspsych/css/jspsych.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/jspsychDemo.css" rel="stylesheet" type="text/css">
    <script>var run= <%=JSON.parse(Session).length%> </script>
    <script src="/javascripts/jspsych_demo.js"></script>
</head>
<body style="overflow-x:hidden; overflow-y:hidden">



<div id="neuro-trials" style="width: 100%;height: 40em"></div>

<nav class="navbar fixed-bottom navbar-light bg-light justify-content-between">
    <a class="navbar-brand"> Welcome <%= User %></a>
    <div class="form-inline">
        <button class="btn navbar-btn btn-outline-success" onclick="save()">Save</button>
    </div>
</nav>
</body>

</html>