<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neuro Trial</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel='stylesheet' type="text/css" href='/stylesheets/trial.css'/>

</head>

<body>



<div class="row" id="dotTrial">
    <div class="col-md-12" ontouchstart="touchOption(null)" id="canvasContainer">
        <canvas id="dotCanvas">Your Browser does not Support Canvas Elements</canvas>
    </div>
</div>


<div class="row text-center" id="trialLetter">
    <div class="col"></div>

    <div class="card col-md-2 letter-container" id="letterOne" ontouchstart="touchOption(this.id)">
        <img class="card-img-top" src="/images/svg/Letter_A.svg"
             alt="choice">
        <div class="card-body">
            <!--<button type="button" id="1" onclick="selectChar(this.id)" class="btn btn-primary">Select</button>-->
        </div>
    </div>

    <div class="col-md-1"></div>

    <div class="card col-md-2 letter-container" id="letterTwo" ontouchstart="touchOption(this.id)">
        <img class="card-img-top"
             src="/images/svg/Letter_B.svg"
             alt="choice">
        <div class="card-body">
            <!--<button type="button" id="2" onclick="selectChar(this.id)" class="btn btn-primary">Select</button>-->
        </div>
    </div>

    <div class="col"></div>


</div>


<div class="row" id="colorAssociation">
    <div class="col" id="color-container">
        <fieldset class="form-group">
            <legend>Select the color you associate with</legend>
            <div class="form-check">
                <label class="form-check-label">
                    <span class="dot" style="background-color: blue;"></span>
                    <button class="color-choice" name="optionsRadios" id="colorOptionOne" value="option1"
                            ontouchstart="touchOption(this.id)">
                        Blue
                    </button>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <span class="dot" style="background-color: red;"></span>
                    <button class="color-choice" name="optionsRadios" id="colorOptionTwo" value="option2"
                            ontouchstart="touchOption(this.id)">
                        Red
                    </button>
                </label>
            </div>
        </fieldset>
    </div>

</div>


<nav class="navbar fixed-bottom navbar-light bg-light justify-content-between">
    <a class="navbar-brand">TEST</a>
    <div class="form-inline">
        <button class="btn navbar-btn btn-outline-success" type="submit">Save</button>

        <button class="btn navbar-btn btn-outline-success" onclick="submit()">Submit</button>
    </div>
</nav>

<script src="/javascripts/trial.js"></script>

</body>
</html>