<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neuro Simulation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>test images
    <link rel='stylesheet' type="text/css" href='/stylesheets/simulation.css'/>
    <script src="/javascripts/simulation.js"></script>
</head>

<body>

<div class="row text-center">
    <div class="col"></div>
    <div class="card col-md-2">
        <img class="card-img-top" src="https://www.wilko.com/content/ebiz/wilkinsonplus/invt/0344505/0344505_l.jpg" alt="choice">
        <div class="card-body">
            <button type="button" class="btn btn-primary">Select</button>
        </div>
    </div>

    <div class="col-md-2"></div>

    <div class="card col-md-2">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Letter_b.svg/2000px-Letter_b.svg.png" alt="choice">
        <div class="card-body">
            <button type="button" class="btn btn-primary">Select</button>
        </div>
    </div>
    <div class="col"></div>

</div>

<nav class="navbar fixed-bottom navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Neuro</a>
    <form class="form-inline">
        <button class="btn navbar-btn btn-outline-success" type="submit">Save</button>

        <button class="btn navbar-btn btn-outline-success" type="submit">Submit</button>
    </form>
</nav>


</body>
</html>