html, body {margin: 0; height: 100%; overflow: hidden}
.jumbotron{
  height: 100vh;
  background: url("../images/mcgill.jpg");
  display: none;
}

.begin-btn{
  background-color: #4794cc;
  color: white !important;
    margin-top: 0.2em;
}

.card{
  box-shadow:6px 6px 21px;
}

#modal-loading-container{
  display: none;
}


.signup-form{
  display: inline;
}
