html, body {margin: 0; height: 100%; overflow: hidden}
.card{
    width: 10rem;
    margin: auto;
    transition:1s;
}

.card:hover{
    box-shadow: 5px 5px 20px 8px;
    top:-0.5em;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}
.letter-container{
    outline:solid;
}

.navbar-btn{
    margin:0.5em;
}

.navbar{
    outline:1px solid black;
}

canvas{
    display: block;
    margin: 1em auto;
}

#trialLetter{
    display: none;
    height: 100vh;
}

#colorAssociation{
    margin: auto 0;
    display: none;

}

#dotTrial{
    height: 90%;
}


.color-choice{
    display: inline;
}

#color-container{
    position: absolute;
    top: 40%;
    left:10%;
}

li {
    color: red; /* bullet color */
}
li span {
    color: black; /* text color */
}