html, body {margin: 0; height: 100%; overflow: hidden}
.card{
    width: 10rem;
    margin: auto;
    transition:1s;
}


.dot {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    display: inline-block;
}

#color-one{
    background-color: blue;
}

#color-two{
    background-color: red;
}
.modal-header{
    margin:auto;
}
.modal-footer{
    justify-content: center;
}

.navbar-btn{
    margin:0.5em;
}

.navbar{
    outline:1px solid black;
}

canvas{
    display: block;
    margin: 1em auto;
}

#trialCharacter{
    display: none;
    height: 100vh;
}

.character-container{
    max-height: 70%;
    display:inline;
    font-size:4em;
}

#colorAssociation{
    margin: auto 0;
    display: none;
}

#dotTrial{
    height: 90%;
}


.color-choice{
    display: inline;
}

#color-container{
    position: absolute;
    top: 40%;
    left:75%;
}
#run-form{
    display: none;
}

li {
    color: red; /* bullet color */
}
li span {
    color: black; /* text color */
}

