
<div id="sign-up-modal">

    <div class="row">
        <div class="col">
            <div class="account-wall">
                <div class="modal-header">
                    <h5 class="modal-title" id="sign-up-modal-title">Information</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">x</span>
                    </button>
                </div>
                <!--<i class="fas fa-user-circle profile-img fa-5x"></i>-->



                    <form action="/signUp" method="post">
                        <div class="modal-body">
                            <br>
                            <input class="signup-form form-control" id="sign-up-first-name" name="firstName" placeholder="First Name"
                                    type="text" required autofocus>
                            <br>
                            <input class="signup-form form-control" id="sign-up-last-name" name="lastName" placeholder="Last Name"
                                    type="text" required><br>
                            <br>
                            <input class="signup-form form-control" id="sign-up-email" name="email" placeholder="Email"
                                   pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'
                                   type="email" required>
                            <label for="bday"></label>
                            <input class="date-picker signup-form form-control" id="date-picker-2" name="birthdate" placeholder="Birth Date"
                                   type="date" required><br>
                            <input class="signup-form form-control" id="sign-up-pass" name="password" placeholder="Password"
                                   type="password" pattern="^(?=.*\d).{5,14}$">
                            <span id='pass-message'></span><br>
                            <input class="signup-form form-control" id="sign-up-pass-verify" name="password-verification"
                                   placeholder="Confirm Password"
                                   type="password" required><br>

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-lg neuro-btn btn-block" type="submit">
                                Sign Up</button>
                        </div>
                    </form>


            </div>

        </div>
    </div>
</div>